<h2>Add new post</h2>
<p>You can write you message hier:</p><br>

<form action="/new" method="POST">
	<textarea class="form-control" rows="6"></textarea><br>
  	<button type="submit" class="btn btn-primary">Submit</button>
</form>
