<h2>Add new post</h2>
<p>You can write you message here:</p><br>

<form action="/new" method="POST">
	<textarea name="content" class="form-control" rows="6" placeholder="Type text post here..."></textarea><br>
  	<button type="submit" class="btn btn-primary">Submit</button>
</form>
