<h2>Post details:</h2><br>

<h4>
	<%= @row['content']%>
</h4>
<p>
	<br>
		Added at <%= @row['created_date']%>
	<br>
</p>
<br>
<h3>Comments:</h3>
<p>
	<form action="/post/<%= @row['id']%>" method="POST">
		<textarea name="content" class="form-control" rows="6" placeholder="Type comment text post here..."></textarea><br>
	  	<button type="submit" class="btn btn-primary">Add comment</button>
	</form>
</p>